[submodule "third_party/milvus-sdk-cpp"]
	path = third_party/milvus-sdk-cpp
	url = https://github.com/milvus-io/milvus-sdk-cpp.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "sdk"]
	path = sdk
	url = https://github.com/cvedix/SDK.git
